<main class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
    <app-navbar></app-navbar>
    <div class="container mx-auto max-w-5xl flex-grow flex flex-col px-4 my-6">
        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4 dark:text-white">About Site</h2>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
                You do not have to pay for Netflix, Amazon Prime, or any other streaming service to watch movies online. The website offers a vast collection of movies that you can watch for free, no subscription required.
            </p>
            <p class="text-gray-600 dark:text-gray-400">
                The project is still fresh and under development, so I'm constantly working on improving the site and adding new features. If you have any suggestions or feedback, feel free to reach out.
            </p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4 dark:text-white">Contact Me</h2>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
                We're always looking to improve our site and welcome your feedback. If you have suggestions, questions, or just want to share your movie recommendations, don't hesitate to reach out.
            </p>
            <ul class="list-none text-gray-600 dark:text-gray-400">
                <li>Email: 777archie.nik777&#64;gmail.com</li>
                <li>Telegram: nktvit</li>
            </ul>
        </section>
    </div>

</main>
