<main class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
    <app-navbar></app-navbar>
    <div class="container mx-auto m-auto">
        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4 dark:text-white">About Our Site</h2>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
                Welcome to our movie information website, a place where cinema comes alive. We've created this platform for movie enthusiasts and casual viewers alike, offering a modern interface to explore the vast world of cinema. From the latest blockbusters to timeless classics, our website is your ultimate guide to everything movies.
            </p>
            <p class="text-gray-600 dark:text-gray-400">
                Our mission is to provide comprehensive, up-to-date information and create a community of movie lovers who can share their passion and insights into the world of film.
            </p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4 dark:text-white">Our Team</h2>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
                Behind our website is a team of dedicated movie buffs, developers, and designers committed to bringing you the best possible user experience. We're passionate about movies and technology, combining our interests to create a platform that's both informative and easy to use.
            </p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4 dark:text-white">Contact Us</h2>
            <p class="text-gray-600 dark:text-gray-400 mb-4">
                We're always looking to improve our site and welcome your feedback. If you have suggestions, questions, or just want to share your movie recommendations, don't hesitate to reach out.
            </p>
            <ul class="list-none text-gray-600 dark:text-gray-400">
                <li>Email: 777archie.nik777&#64;gmail.com</li>
                <li>Telegram: nktvit</li>
            </ul>
        </section>
    </div>

</main>