<main class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
  <app-navbar [showSearchBox]="true"></app-navbar>
  <div class="container max-w-6xl flex-grow flex flex-col mx-auto my-6">
    <div *ngIf="isLoading" class="flex-grow flex items-center justify-center">
      <span>Loading...</span>
    </div>

    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="movies.length > 0">
        <app-movies-grid [movies]="movies"></app-movies-grid>
        <app-pagination [totalResults]="totalResults" (pageChanged)="onPageChange($event)"></app-pagination>
      </ng-container>

      <app-notfound
        *ngIf="!isLoading && movies.length === 0"
        class="flex-grow flex flex-col">
      </app-notfound>
    </ng-container>
  </div>
</main>
