<main class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
    <app-navbar [showSearchBox]="true"></app-navbar>
    <div *ngIf="!isLoading" class="container max-w-6xl flex-grow flex flex-col mx-auto my-6">
        <app-movies-grid *ngIf="totalResults" [movies]="movies"></app-movies-grid>
        <app-pagination *ngIf="totalResults" [totalResults]="totalResults" (pageChanged)="onPageChange($event)"></app-pagination>
        <app-notfound class="flex-grow flex flex-col " *ngIf="totalResults === 0 && !isLoading && movies.length === 0 "></app-notfound>
    </div>
</main>
