<div
  [routerLink]="['/movie', movie().imdbID || movie().tmdbId]"
  [queryParams]="movie().mediaType === 'tv' ? {type: 'tv'} : {}"
  class="poster-container group select-none cursor-pointer transition-transform duration-300 ease-in-out hover:scale-105 min-w-16"
  tabindex="0"
  [attr.aria-label]="'View details for ' + movie().Title">

  <div class="poster-content relative w-full h-full bg-gray-800 rounded-lg">
    @if (imageUrl) {
      <img
        [ngSrc]="imageUrl"
        [alt]="movie().Title || 'Movie Poster'"
        fill
        [priority]="priority()"
        sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
        (error)="onImageError()"
        class="rounded-lg object-cover group-hover:opacity-90 transition-opacity duration-200"
        >
    } @else if (placeholderUrl) {
      <img
        [ngSrc]="placeholderUrl"
        [alt]="movie().Title || 'Movie Poster'"
        [priority]="priority()"
        class="rounded-lg object-cover group-hover:opacity-90 transition-opacity duration-200"
        fill
        >
    }

    @if (displayTitle()) {
      <div
        class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-4 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
        <span class="text-white text-xs sm:text-base lg:text-md font-semibold line-clamp-3">{{ movie().Title }}</span>
      </div>
    }
  </div>
</div>
