<main class="flex min-h-screen flex-col bg-gray-50 dark:bg-gray-900">
  <app-navbar [showSearchBox]="true"></app-navbar>

  <div class="mx-auto max-w-5xl mb-8 p-4 md:p-6 lg:py-10 xl:py-14 2xl:py-20">
    <app-back-button></app-back-button>
    <div *ngIf="!isLoading" class="my-6 md:mt-12 grid grid-cols-1 gap-12 md:grid-cols-12">
      <div
        class="flex justify-center h-fit px-4 md:col-span-4 md:justify-start md:px-0 lg:col-span-3"
      >
        <img
          src="{{movieDetails.Poster}}"
          alt="{{movieDetails.Title}} Poster"
          class="w-full max-w-xs rounded-lg shadow-2xl transition duration-300 ease-in-out hover:scale-105 dark:shadow-white/10"
        />
      </div>

      <div class="md:col-span-8 lg:col-span-9">
        <h1
          class="mb-4 text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
        >
          {{ movieDetails.Title }} ({{ movieDetails.Year }})
        </h1>
        <div class="mb-4 text-sm text-gray-500 dark:text-gray-400">
          {{ movieDetails.Rated }} | {{ movieDetails.Runtime }}
          | {{ movieDetails.totalSeasons && movieDetails.totalSeasons }} Seasons |
          {{ movieDetails.Genre }}
        </div>
        <div class="mb-6 flex space-x-2">
                    <span
                      *ngIf="movieDetails.imdbRating"
                      class="inline-block rounded-full bg-yellow-500 px-3 py-1 text-xs font-semibold text-black"
                    >IMDb {{ movieDetails.imdbRating }}</span
                    >
          <ng-container *ngFor="let rating of movieDetails.Ratings">
                        <span
                          *ngIf="rating.Source === 'Rotten Tomatoes'"
                          class="inline-block rounded-full bg-red-600 px-3 py-1 text-xs font-semibold text-white"
                        >
                            {{ rating.Source }} {{ rating.Value }}
                        </span>
          </ng-container>
          <span
            *ngIf="movieDetails.Metascore !== 'N/A'"
            class="inline-block rounded-full bg-yellow-600 px-3 py-1 text-xs font-semibold text-white"
          >Metacritic {{ movieDetails.Metascore }}</span
          >
        </div>


        <div class="mb-6">
          <h2 class="mb-2 text-xl font-semibold text-gray-900 md:text-2xl dark:text-white">
            Plot
          </h2>
          <p class="text-gray-700 dark:text-gray-300" [ngClass]="{'line-clamp-3': shouldClamp}">
            {{ adjustedPlot }}
          </p>
          <button
            *ngIf="isPlotLong"
            class="mt-2 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline"
            (click)="togglePlot()"
          >
            {{ isFullPlot ? 'Show Less' : 'Read More' }}
          </button>
        </div>



        <div>
          <h2
            class="mb-2 text-xl font-semibold text-gray-900 md:text-2xl dark:text-white"
          >
            Details
          </h2>
          <ng-container *ngFor="let detail of movieDetailsArray">
            <p
              class="text-gray-700 dark:text-gray-300"
              *ngIf="detail.show"
            >
              <strong
                class="text-sm text-gray-900 dark:text-white"
              >{{ detail.label }}:</strong
              >
              {{ detail.value }}
            </p>
          </ng-container>
        </div>


      </div>

    </div>
    <div *ngIf="invalidResponse">
      <p>Error: Unable to fetch movie details.</p>
    </div>

    <app-movie-player *ngIf="imdbId && !invalidResponse" [imdbId]="imdbId" [type]="type"></app-movie-player>

  </div>
</main>
