<div class="flex h-full justify-center">
    <form action="" class="m-auto" (submit)="handleSubmit($event)">
        <label for="hs-trailing-button-add-on-with-icon-and-button" class="sr-only">Label</label>
        <div class="relative flex rounded-lg shadow-sm">
            <input (input)="handleInput($event)" (focus)="handleFocus()" (blur)="handleFocusOut()" [value]="searchTerm" type="text"
                id="hs-trailing-button-add-on-with-icon-and-button"
                [placeholder]="placeholder"
                name="hs-trailing-button-add-on-with-icon-and-button"
                class="py-3 px-4 ps-11 block w-full border-gray-200 shadow-sm rounded-s-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
            <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4">
                <svg class="flex-shrink-0 size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8" />
                    <path d="m21 21-4.3-4.3" />
                </svg>
            </div>
            <button type="submit"
                class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                <span *ngIf="isLoading"
                    class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-white rounded-full"
                    role="status" aria-label="loading">
                    <span class="sr-only">Loading...</span>
                </span>
                Search
            </button>
        </div>
    </form>
</div>
