/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.hide-bmc-widget #bmc-wbtn,
body.hide-bmc-widget .bmc-btn-container,
body.hide-bmc-widget [class*="bmc"],
body.hide-bmc-widget [id*="bmc"] {
  display: none !important;
}

@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px;
  }
}
